/* Loading component styles */
.loading-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  min-height: 200px;
}

.loading-component-message {
  margin-top: 16px;
  color: #6B778C;
  font-size: 14px;
  font-weight: 500;
}


